body {
    background: #222;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  
  .container {
    background: #333;
    width: 80%;
    max-width: 500px;
    margin: 5rem auto;
    padding: 2rem;
    border-radius: 10px;
  }
  
  input {
    width: 80%;
    height: 2rem;
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  
  .end-game-container {
    margin-top: 2rem;
  }
  